html,
body {
  height: 100%;
}

.registration-body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.textinput, .emailinput {
  background-color: rgb(232, 240, 254);
  border: none;
  border-bottom: 2px solid #5283ff;
}
.textinput:focus, .emailinput:focus{
  background-color: rgba(70, 90, 126, 0.4);
  border: none;
}

.field-width .textinput{
  width: 100%;
}