table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.row {
    display: flex;
    margin-left:-5px;
    margin-right:-5px;
}

.column {
    flex: 50%;
    padding: 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 50%;
    border: 1px solid #ddd;
}