{% extends "showflow/base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static "css/registration.css" %}">{% endblock styles %}
{% block title %}<title>Show Flow - Register</title>{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Input email to reset password -->
<div class="registration-body">
    <img class="mb-4" src="{% static "images/showflowlogo.png" %}" alt="ShowFlow Logo" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
    <form action="" method="post">
        {% csrf_token %}
        {% if form.email.errors %}
            {{ form.email.errors }}
        {% endif %}
        <p>{{ form|crispy }}</p>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
    </form>
    <br>
    <p>Go back to <a href="{% url 'login' %}">login</a></p>
</div>
{% endblock %}