{% extends 'showflow/base.html' %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static "css/registration.css" %}">{% endblock styles %}
{% block title %}<title>Change Password</title>{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <!--Email the link to reset password-->
    <h2>Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <a href="{% url 'login' %}">Log In</a>
        <button type="submit">Submit</button>
    </form>
{% endblock content %}