{% extends "showflow/base.html" %}
{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static "css/registration.css" %}">{% endblock styles %}
{% load crispy_forms_tags %}
{% block content %}
  <!--Password Reset Confirm-->
    <div class="container p-5">
	    <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
		<hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">Reset Password</button>
        </form>
    </div>
{% endblock %}